body {margin:0; font-family: sans-serif;}

ul.topnav {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color:  #ffffff;    
  display: table;
  border-bottom: 1px solid; 
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #19334d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #d8e6f3;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {  
  ul.topnav li {display: none;}
  ul.topnav li.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav {display: block;}
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}