body {
  margin:0; 
  font-family: sans-serif;
  } 
nav
{
  margin-bottom: 10px;
}
ul.topnav {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color:  #ffffff;    
  border-bottom: 1px solid; 
  display: table;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #19334d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #d8e6f3;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {  
  ul.topnav li {display: none; }
  ul.topnav li.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width:680px) {
  ul
  {
    transition: 0.3s;
  }
  ul.topnav {display: block; }
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;  
    
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;      
  }
}

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}